<section class="min-h-screen flex-wrap content-center w-full bg-gray-100">
  <div class="title text-center mb-7">
    <h1
      class="text-[60px] font-[700] relative mb-5 text-shadow-lg/30 text-amber-700"
    >
      Services
    </h1>
    <p class="text-[20px] font-[400]">
      Benefits when using <br />
      our services
    </p>
  </div>
  <div class="card grid grid-cols-3 gap-4">
    <div class="p-6 bg-white border border-gray-200 rounded-lg shadow-sm">
      <div
        class="text-amber-700 text-3xl rounded-full bg-gray-200 w-[50px] h-[50px] flex items-center justify-center mb-5"
      >
        <i class="fa-regular fa-lightbulb"></i>
      </div>
      <a href="#">
        <h5 class="text-[30px] font-[700] tracking-tight text-gray-900 mb-5">
          Inspiration
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">
        Lorem ipsum dolor sit amet consectetur. Est vel risus hendrerit laoreet
        purus malesuada dignissim.
      </p>
    </div>
    <div class="p-6 bg-white border border-gray-200 rounded-lg shadow-sm">
      <div
        class="text-amber-700 text-3xl rounded-full bg-gray-200 w-[50px] h-[50px] flex items-center justify-center mb-5"
      >
        <i class="fa-solid fa-headphones"></i>
      </div>
      <a href="#">
        <h5 class="text-[30px] font-[700] tracking-tight text-gray-900 mb-5">
          24/7 Customer Services
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">
        Lorem ipsum dolor sit amet consectetur. Est vel risus hendrerit laoreet
        purus malesuada dignissim.
      </p>
    </div>
    <div class="p-6 bg-white border border-gray-200 rounded-lg shadow-sm">
      <div
        class="text-amber-700 text-3xl rounded-full bg-gray-200 w-[60px] h-[60px] flex items-center justify-center mb-5"
      >
        <i class="fa-solid fa-truck-fast"></i>
      </div>
      <a href="#">
        <h5 class="text-[30px] font-[700] tracking-tight text-gray-900 mb-5">
          Express Shipping
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">
        Lorem ipsum dolor sit amet consectetur. Est vel risus hendrerit laoreet
        purus malesuada dignissim.
      </p>
    </div>
  </div>
</section>
