<section class="min-h-screen bg-[#F6F6F6] py-10">
  <div class="title mb-16 text-center pt-22">
    <h1
      class="text-[48px] font-[700] text-[#090F41] text-shadow-lg/30 relative"
    >
      A few words about us
    </h1>
    <p class="text-[20px] font-[400] my-5">
      Make your best moments more stylish with our latest designs of clothing.
    </p>
  </div>

  <div class="card grid grid-cols-2 gap-10 mt-30">
    <div class="img">
      <img src="/imgs/about-1-min.png" alt="" />
    </div>
    <div class="inner flex-column content-center justify-center">
      <h2 class="text-[24px] font-[600] pb-5">Why choose us ?</h2>
      <p class="text-[16px] font-[400]">
        Maecenas congue metus id turpis iaculis mattis. Sed pellentesque id arcu
        id scelerisque. Ut ullamcorper rutrum justo, at blandit eros maximus ut.
        Integer non tincidunt justo, rhoncus Aenean venenatis sed purus ac
        sollicitudin. Nulla mauris risus, commodo et luctus rutrum, lobortis sed
        mauris. Integer congue, sem elementum varius tristique.
      </p>
    </div>
  </div>
  <div class="card grid grid-cols-2 gap-10 mt-30">
    <div class="inner flex-column content-center justify-center">
      <h5 class="text-[24px] font-[600] pb-5">Trusted online shopping</h5>
      <p class="text-[16px] font-[400]">
        Maecenas congue metus id turpis iaculis mattis. Sed pellentesque id arcu
        id scelerisque. Ut ullamcorper rutrum justo, at blandit eros maximus ut.
        Integer non tincidunt justo, rhoncus Aenean venenatis sed purus ac
        sollicitudin. Nulla mauris risus, commodo et luctus rutrum, lobortis sed
        mauris. Integer congue, sem elementum varius tristique.
      </p>
    </div>
    <div class="img">
      <img src="/imgs/about-2-min.png" alt="" />
    </div>
  </div>
</section>
