<section
  class="w-full text-white bg-[#2E2E2E] grid md:grid-cols-4 gap-10 py-15 min-h-1/2"
>
  <div class="logo">
    <h1 class="text-[30px] font-[400]">Trendify</h1>
    <p class="py-6">
      Join our newsletter to stay up to date on features and releases.
    </p>
    <p>
      By subscribing you agree to with our Privacy Policy and provide consent to
      receive updates from our company.
    </p>
  </div>
  <div class="about">
    <h1 class="text-[30px] font-[400]">About Us</h1>
    <ul>
      <li>FAQ</li>
      <li>Contact</li>
      <li>Returns</li>
      <li>Blog</li>
      <li>Shipping</li>
    </ul>
  </div>
  <div class="customer">
    <h1 class="text-[30px] font-[400]">Customer</h1>
    <ul>
      <li>Affiliates</li>
      <li>Apple Pay Payments</li>
      <li>Returns</li>
      <li>Returns Policy</li>
      <li>Returns</li>
    </ul>
  </div>
  <div class="follow">
    <h1 class="text-[30px] font-[400]">Follow Us</h1>
    <ul>
      <li>Facebook</li>
      <li>Instagram</li>
      <li>Twitter</li>
      <li>LinkedIn</li>
    </ul>
  </div>
</section>
