<div class="container mx-auto flex items-center justify-center">
  <div class="md:flex mx-auto mt-36">
    <button
      routerLink="product"
      routerLinkActive="text-white bg-[#8B5E35]"
      type="button"
      class="px-2 md:px-32 py-2 text-[20px] font-extrabold text-[#8B5E35] border-2 border-[#8B5E35] rounded-s-lg hover:bg-[#8B5E35] hover:text-white"
    >
      Product
    </button>
    <button
      routerLink="fakestore"
      routerLinkActive="text-white bg-[#8B5E35]"
      type="button"
      class="px-2 md:px-32 py-2 text-[20px] font-extrabold text-[#8B5E35] border-2 border-[#8B5E35] hover:bg-[#8B5E35] hover:text-white"
    >
      Fake Store
    </button>
    <button
      routerLink="movies"
      routerLinkActive="text-white bg-[#8B5E35]"
      type="button"
      class="px-2 md:px-32 py-2 text-[20px] font-extrabold text-[#8B5E35] border-2 border-[#8B5E35] rounded-e-lg hover:bg-[#8B5E35] hover:text-white"
    >
      Movies
    </button>
  </div>
</div>

<router-outlet></router-outlet>
