<section id="home" class="min-h-screen">
  <div class="flex content-center items-center min-h-screen">
    <div class="inner md:ms-3 text-white">
      <h1 class="text-2xl md:text-5xl">
        Elevate Your Home with <br />
        Stylish Furniture
      </h1>
      <p class="py-9 md:text-2xl md:w-6xl">
        Explore a range of high-quality, affordable furniture designed to
        transform any room. Discover the perfect blend of style, comfort, and
        functionality for your space.
      </p>
      <button
        class="cursor-pointer md:text-2xl py-4 px-12 bg-[#8B5E35] hover:bg-[#573311] rounded-full"
      >
        <a routerLink="/gallery"> Shop Now </a>
      </button>
    </div>
  </div>
</section>
