<section class="min-h-screen py-10 px-5 md:py-16 md:px-10">
  <div class="title text-center mb-10">
    <h1
      class="text-4xl sm:text-5xl md:text-6xl font-bold mb-4 text-amber-700 drop-shadow-lg"
    >
      Fake Store
    </h1>
    <p class="text-lg sm:text-xl text-gray-700">Best Selling Products</p>
  </div>

  <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
    @for (product of FakeStoreList; track product.id) {
    <div
      class="bg-white border border-gray-200 rounded-xl shadow-md hover:shadow-lg transition-all duration-300 flex flex-col"
    >
      <a href="#" class="block">
        <img
          class="rounded-t-xl h-56 w-full object-contain p-4"
          [src]="product.image"
          [alt]="product.title"
        />
      </a>
      <div class="p-5 flex flex-col flex-grow">
        <a href="#">
          <h5 class="mb-3 text-xl font-semibold text-gray-900">
            {{ product.title.split(" ", 3).join(" ") }}
          </h5>
        </a>
        <div class="mb-2 text-gray-700">
          <span class="font-bold text-[#8B5E35]">
            Price: {{ product.price }} EGY
          </span>
        </div>
        <hr class="my-2" />
        <p class="text-sm text-gray-600 flex-grow">
          <span class="font-bold text-[#8B5E35]">Description:</span>
          {{ product.description.split(" ", 10).join(" ") }}
        </p>
        <hr class="my-2" />
        <span class="text-sm text-gray-700">
          <span class="font-bold text-[#8B5E35]">Category:</span>
          {{ product.category }}
        </span>
      </div>
    </div>
    }
  </div>
</section>
