<section class="min-h-screen py-15 px-10">
  <div class="title text-center mb-7">
    <h1
      class="text-[60px] font-[700] relative mb-5 text-shadow-lg/30 text-amber-700"
    >
      Products
    </h1>
    <p class="text-[20px] font-[400]">Best Selling Product</p>
  </div>
  <div class="card grid md:grid-cols-4 gap-10">
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm">
      <a href="#">
        <img class="rounded-t-lg" src="imgs/item-1-min.png" alt="" />
      </a>
      <div class="p-5">
        <a href="#">
          <h5 class="mb-5 text-2xl font-bold tracking-tight text-gray-900">
            Winter Beige Vibes
          </h5>
        </a>
        <div class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          <div class="my-2">
            <span class="text-yellow-500 pe-1"
              ><i class="fa-solid fa-star"></i></span
            ><span>4.8 <span>(500+)</span></span>
          </div>
          <span class="font-bold text-[#8B5E35]"
            >5000 <span class="line-through text-gray-500">10000EGY</span></span
          >
        </div>
      </div>
    </div>
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm">
      <a href="#">
        <img class="rounded-t-lg" src="/imgs/item-2-min.png" alt="" />
      </a>
      <div class="p-5">
        <a href="#">
          <h5 class="mb-5 text-2xl font-bold tracking-tight text-gray-900">
            Royal Classic Watch
          </h5>
        </a>
        <div class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          <div class="my-2">
            <span class="text-yellow-500 pe-1"
              ><i class="fa-solid fa-star"></i></span
            ><span>4.8 <span>(500+)</span></span>
          </div>
          <span class="font-bold text-[#8B5E35]"
            >5000 <span class="line-through text-gray-500">10000EGY</span></span
          >
        </div>
      </div>
    </div>
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm">
      <a href="#">
        <img class="rounded-t-lg" src="imgs/item-3-min.png" alt="" />
      </a>
      <div class="p-5">
        <a href="#">
          <h5 class="mb-5 text-2xl font-bold tracking-tight text-gray-900">
            Autumn Flow Skirt
          </h5>
        </a>
        <div class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          <div class="my-2">
            <span class="text-yellow-500 pe-1"
              ><i class="fa-solid fa-star"></i></span
            ><span>4.8 <span>(500+)</span></span>
          </div>
          <span class="font-bold text-[#8B5E35]"
            >5000 <span class="line-through text-gray-500">10000EGY</span></span
          >
        </div>
      </div>
    </div>
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm">
      <a href="#">
        <img class="rounded-t-lg" src="imgs/item-4-min.png" alt="" />
      </a>
      <div class="p-5">
        <a href="#">
          <h5 class="mb-5 text-2xl font-bold tracking-tight text-gray-900">
            Golden Shine Set
          </h5>
        </a>
        <div class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          <div class="my-2">
            <span class="text-yellow-500 pe-1"
              ><i class="fa-solid fa-star"></i></span
            ><span>4.8 <span>(500+)</span></span>
          </div>
          <span class="font-bold text-[#8B5E35]"
            >5000 <span class="line-through text-gray-500">10000EGY</span></span
          >
        </div>
      </div>
    </div>
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm">
      <a href="#">
        <img class="rounded-t-lg" src="imgs/item-5-min.png" alt="" />
      </a>
      <div class="p-5">
        <a href="#">
          <h5 class="mb-5 text-2xl font-bold tracking-tight text-gray-900">
            Soft Neutrals Tee Pack
          </h5>
        </a>
        <div class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          <div class="my-2">
            <span class="text-yellow-500 pe-1"
              ><i class="fa-solid fa-star"></i></span
            ><span>4.8 <span>(500+)</span></span>
          </div>
          <span class="font-bold text-[#8B5E35]"
            >5000 <span class="line-through text-gray-500">10000EGY</span></span
          >
        </div>
      </div>
    </div>
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm">
      <a href="#">
        <img class="rounded-t-lg" src="imgs/item-6-min.png" alt="" />
      </a>
      <div class="p-5">
        <a href="#">
          <h5 class="mb-5 text-2xl font-bold tracking-tight text-gray-900">
            Sky Blue Minimal Clutch
          </h5>
        </a>
        <div class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          <div class="my-2">
            <span class="text-yellow-500 pe-1"
              ><i class="fa-solid fa-star"></i></span
            ><span>4.8 <span>(500+)</span></span>
          </div>
          <span class="font-bold text-[#8B5E35]"
            >5000 <span class="line-through text-gray-500">10000EGY</span></span
          >
        </div>
      </div>
    </div>
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm">
      <a href="#">
        <img class="rounded-t-lg" src="imgs/item-7-min.png" alt="" />
      </a>
      <div class="p-5">
        <a href="#">
          <h5 class="mb-5 text-2xl font-bold tracking-tight text-gray-900">
            Cozy Knit Layers
          </h5>
        </a>
        <div class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          <div class="my-2">
            <span class="text-yellow-500 pe-1"
              ><i class="fa-solid fa-star"></i></span
            ><span>4.8 <span>(500+)</span></span>
          </div>
          <span class="font-bold text-[#8B5E35]"
            >5000 <span class="line-through text-gray-500">10000EGY</span></span
          >
        </div>
      </div>
    </div>
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm">
      <a href="#">
        <img class="rounded-t-lg" src="imgs/item-8-min.png" alt="" />
      </a>
      <div class="p-5">
        <a href="#">
          <h5 class="mb-5 text-2xl font-bold tracking-tight text-gray-900">
            Earth Tones Folded Set
          </h5>
        </a>
        <div class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          <div class="my-2">
            <span class="text-yellow-500 pe-1"
              ><i class="fa-solid fa-star"></i></span
            ><span>4.8 <span>(500+)</span></span>
          </div>
          <span class="font-bold text-[#8B5E35]"
            >5000 <span class="line-through text-gray-500">10000EGY</span></span
          >
        </div>
      </div>
    </div>
  </div>
</section>
